<h1>CAR</h1>
<!-- sets css background color on the h2 tag -->
<h2 style="background-color:<%=@car.color%> ">Make: <%=@car.make%></h2>
<h2>Model: <%=@car.model%></h2>
<h2>Year: <%=@car.year%></h2>
<h2>Speed: <%=@car.speed%></h2>


<form action="accelerate" method="get">
  <input type="submit" value="Accelerate">
</form>
<form action="brake" method="get">
  <input type="submit" value="Brake">
</form>


<h2>Lights: <%=@car.lights_on?%></h2>

<form action="lights_toggle" method="get">
  <input type="submit" value="Lights">
</form>




<!-- the action in form is the method in the controller -->
<form action="parking_brake" method="get">
  <h2>Set Parking Break: <%=@car.parking_brake%></h2>
  <label>Set</label>
  <%=radio_button_tag 'set_release', 'set'%>
  <!-- # => <input id="parking_brake_set" name="parking_brake" type="radio" value="set" /> -->
  <label>Release</label>
  <%=radio_button_tag 'set_release', 'release'%>
  <!-- # => <input id="parking_brake_set" name="parking_brake" type="radio" value="release" /> -->
  <input type="submit" value="Change Brake">
</form>
